<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务树</title>
    <!-- 引入Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入Vue.js -->
    <script src="js/vue.min.js"></script>

    <!-- 全局配置引入 -->
    <script src="js/public.js" type="text/javascript"></script>

    <!-- 	jQuery引入 -->
    <script src="js/jquery-3.7.1.min.js" type="text/javascript"></script>

    <!-- 	layui引入 -->
    <script src="js/layui.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/layui.css" media="all"/>
    <link rel="stylesheet" href="css/public.css" media="all"/>

    <style>
        .task-container {
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch; /* 为 iOS 设备提供平滑滚动 */
        }
        
        .list-group {
            min-width: fit-content;
            padding-bottom: 15px; /* 为滚动条预留空间 */
        }
        
        .list-group-item {
            min-width: 500px; /* 设置最小宽度确保内容不会挤压 */
        }
    </style>

</head>
<body>
    <div id="app" class="container mt-5">
        <button class="btn btn-success" @click="markdownStatus" >markdown格式</button>
        <button v-show="!isPub && (username === pusername)" class="btn btn-success" @click="setPublic" >设为公开</button>
        <button v-show="isPub && (username === pusername)" class="btn btn-success" @click="setPrivate" >设为私有</button>
        <h3 style="margin-top: 10px">在这里描述你的问题：</h3>
        <div style="margin-top: 10px;" class="alert alert-info">
            Tip：点击任务文本可以进入评论页面，点击更新任务按钮才会同步到网络
        </div>
        <textarea v-model="problem" style="width: 80%;margin-bottom: 20px"></textarea>
        <div class="task-container">
            <div class="list-group">
                <task-item v-for="(task, index) in tasks" :key="index" :task="task" @edit-task="editTask" @delete-task="deleteTask"></task-item>
            </div>
        </div>
        <hr>
        <button class="btn btn-primary" @click="addTask" v-show="addFlag2">添加任务</button>

        <button class="btn btn-primary" @click="addTask" v-show="editFlag">添加任务</button>

        <button class="btn btn-success" @click="shareTask" v-show="addFlag2">分享任务</button>

        <button class="btn btn-success" @click="updateTask" v-show="editFlag">更新任务</button>

        <button class="btn btn-primary" @click="goBack">回到主页</button>

        <div style="height: 300px"></div>
    </div>

    <script>

        layui.use('layer', function () {
            var layer = layui.layer;
        });

        // Vue组件：任务项，支持递归显示子任务
        Vue.component('task-item', {
            props: ['task'],
            data: function() {
                return {
                    addFlag: true,
                    showSubtasks: false,
                    isEditing: this.task.isEditing || false,
                    newTitle: this.task.title
                };
            },
            watch: {
                'task.isEditing': function(newVal) {
                    this.isEditing = newVal;
                }
            },
            created: function () {
                that = this;
                var tasks = getS("tasks");
                if(tasks!=""&&getS("pusername")!=getS("username")){
                    that.addFlag = false;
                }

            },
            methods: {
                toggleSubtasks: function() {
                    this.showSubtasks = !this.showSubtasks;
                },
                addSubtask: function() {
                    let username = getS("username");
                    let clientToken = getS("token");
                    const jsonObject = {"username": username, "clientToken": clientToken};
                    let tid = "";
                    let that = this;
                    $.post(generateId,jsonObject,function(data,status){
                        tid = data;
                        const subtask = {
                            title: '新子任务',
                            subtasks: [],
                            isCompleted: false,
                            tid: tid,
                            isEditing: true
                        };
                        that.task.subtasks.push(subtask);
                    });


                },
                toggleCompletion: function() {
                    this.task.isCompleted = !this.task.isCompleted;
                },
                editTask: function() {
                    this.isEditing = true;
                    this.newTitle = this.task.title; // 进入编辑模式时，保留当前标题
                },
                saveTask: function() {
                    this.task.title = this.newTitle;
                    this.isEditing = false;
                },
                cancelEdit: function() {
                    this.isEditing = false;
                },
                deleteTask: function() {
                    this.$emit('delete-task', this.task); // 触发父组件删除任务的事件
                },
                deleteSubtask: function(subtask) {
                    const index = this.task.subtasks.indexOf(subtask);
                    if (index !== -1) {
                        this.task.subtasks.splice(index, 1); // 删除子任务
                    }
                },
                goDis: function(tid,newTitle) {
                    setS("newTitle",newTitle);
                    setS("tid",tid);
                    window.location.href="./art.html?tid="+tid;
                },
            },
            template: `
                <div class="list-group-item">
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-link btn-sm" @click="toggleSubtasks">
                                {{ showSubtasks ? '收起' : '显示' }}
                            </button>
                            <span>
                                <input @click="goDis(task.tid,newTitle)" v-if="!isEditing" v-model="newTitle" type="text" class="form-control form-control-sm" style="display: inline; width: auto;" readonly>
                                <input v-else v-model="newTitle" type="text" class="form-control form-control-sm" style="display: inline; width: auto;">
                                <span v-if="task.isCompleted" class="badge bg-success">已完成</span>
                                <span v-else class="badge bg-primary">进行中</span>

                            </span>
                        </div>
                        <div style="margin-left:20px">
                            <button v-if="!isEditing" class="btn btn-info btn-sm" @click="editTask" v-show="addFlag">编辑</button>
                            <button v-else class="btn btn-success btn-sm" @click="saveTask" v-show="addFlag">保存</button>
                            <button v-if="!isEditing" class="btn btn-danger btn-sm" @click="deleteTask" v-show="addFlag">删除</button>
                            <button v-else class="btn btn-secondary btn-sm" @click="cancelEdit" v-show="addFlag">取消</button>
                        </div>
                    </div>
                    <div v-if="showSubtasks" class="mt-3 ms-3">
                        <div v-for="(subtask, index) in task.subtasks" :key="index" class="d-flex justify-content-between align-items-center">
                            <task-item :task="subtask" @delete-task="deleteSubtask(subtask)"></task-item>
                         
                        </div>
                        <button class="btn btn-secondary btn-sm mt-2" @click="addSubtask" v-show="addFlag">添加</button>
                    </div>
                    
                </div>
            `
        });

        var that;
        // Vue实例
        new Vue({
            el: '#app',
            data: {
                addFlag2:true,
                editFlag:false,
                problem:"",
                tasks: [],
                username:"",
                pusername:"",
                isPub:false
            },
            created: function () {
                that = this;
                this.username = getS("username");
                this.pusername = getS("pusername");
                if("true" === getS("pub")){
                    this.isPub = true;
                } else {
                    this.isPub = false;
                }

                console.log(this.isPub);
                var tasks = getS("tasks");
                var problem = getS("problem");
                if(tasks!=""){
                    that.tasks = base64ToJson(tasks);
                    console.log(that.tasks);
                    that.problem = problem;
                    that.addFlag2 = false;
                    if(getS("username") == getS("pusername")){
                        that.editFlag = true;
                    }
                }

            },
            methods: {
                addTask: function() {

                    let username = getS("username");
                    let clientToken = getS("token");
                    const jsonObject = {"username": username, "clientToken": clientToken};

                    let tid = "";
                    let that = this;
                    $.post(generateId,jsonObject,function(data,status){
                        tid = data;
                        const newTask = {
                            title: '新任务',
                            subtasks: [],
                            isCompleted: false,
                            tid: tid,
                            isEditing: true
                        };
                        that.tasks.push(newTask);
                    });


                },
                editTask: function(task, newTitle) {
                    task.title = newTitle;
                },
                deleteTask: function(task) {
                    const index = this.tasks.indexOf(task);
                    if (index !== -1) {
                        this.tasks.splice(index, 1); // 删除任务
                    }
                },
                resetEditingState: function(tasks) {
                    tasks.forEach(task => {
                        task.isEditing = false;
                        if (task.subtasks && task.subtasks.length > 0) {
                            this.resetEditingState(task.subtasks);
                        }
                    });
                },
                shareTask: function(task) {
                    this.resetEditingState(this.tasks);
                    console.log(this.tasks);

                    let username = getS("username");
                    let clientToken = getS("token");
                    let b64 = jsonToBase64(this.tasks);
                    const jsonObject = {"time": new Date().toLocaleString(),"tasks": b64, "problem": this.problem, "username": username, "clientToken": clientToken};

                    $.post(taskAdd,jsonObject,function(data,status){

                        const thatData = JSON.parse(data);

                        layer.msg(thatData.result, {
                            time: 2000,
                        });

                    });

                },
                updateTask: function(task) {
                    this.resetEditingState(this.tasks);
                    console.log(this.tasks);

                    let username = getS("username");
                    let clientToken = getS("token");
                    let b64 = jsonToBase64(this.tasks);
                    const jsonObject = {"id": getS("postId"), "time": new Date().toLocaleString(),"tasks": b64, "problem": this.problem, "username": username, "clientToken": clientToken};

                    $.post(taskUpdate,jsonObject,function(data,status){

                        const thatData = JSON.parse(data);

                        layer.msg(thatData.result, {
                            time: 2000,
                        });

                    });

                },
                markdownStatus: function() {
                    setS("markdownStatus",true);
                    window.location.href = "./taskmd.html";
                },
                goBack: function() {
                    window.location.href = "./";
                },
                setPublic: function() {
                    this.updatePub(true);
                },
                setPrivate: function() {
                    this.updatePub(false);
                },
                updatePub: function(isPub) {
                    const jsonObject = {"pub" :isPub, "id": getS("postId"), "username": getS("username"), "clientToken": getS("token")};
                    that = this;
                    $.post(taskUpdatepub,jsonObject,function(data,status){

                        const thatData = JSON.parse(data);

                        layer.msg(thatData.result, {
                            time: 2000,
                        });

                        if("更新成功" === thatData.result){
                            that.isPub = isPub;
                        }

                    });
                },
            }
        });
    </script>
</body>
</html>


